table, .col-sm-6, .col-sm-12{
	text-align: center;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}

tr:nth-child(even){
	background-color: #B2FF66;
}

#overview {
	margin-left: auto;
	margin-right: auto;
}

/*center all tables to middle of the page*/
.center {
	margin-left: auto;
	margin-right: auto;
}

/*center the header (i.e. page title)*/
.header1 {
	text-align: center;
}