/* References:
(1) - Unsplash.com - background wallpapers
David Fedulov - https://unsplash.com/@phototastyfood
Changyoung Koh - https://unsplash.com/@kcy1019
Pablo Merchán Montes - https://unsplash.com/@pablomerchanm
Jonathan Borba - https://unsplash.com/@jonathanborba

(2) - YouTube - animation
CodeRookie - https://www.youtube.com/watch?v=UInN6O_nMKs
*/

table, .col-sm-6, .col-sm-12, .header1 {
	text-align: center;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}

tr:nth-child(even){
	background-color: #B2FF66;
}

#overview {
	margin-left: auto;
	margin-right: auto;
}

/*center all tables to middle of the page*/
.center {
	margin-left: auto;
	margin-right: auto;
}

/*center the search box for the ingredients-suppliers table*/
.center-search {
    text-align: center;
    padding: 10px;
}

/*scrollbar for all tables*/
.search-box-scroll {
	margin-left: auto;
	margin-right: auto;
    overflow-y: scroll;
}


/*center all containers; may need change if there's more than 1 container later on*/
.container {
  text-align: center
}

/*bring home container to middle of page*/
.home-container {
    margin-top: 10%;
}

/*Reference - see (2)*/
/*allow Two Guys title in front back to slowly appear*/
.primary-animation{
  animation: appearIn 2s;
}

/*allow company description to slowly appear after "Two Guys"*/
.secondary-animation{
  animation: appearIn 3s;
}

@keyframes appearIn{
  /*initial values - begin at no opacity and
  then transition to full opacity*/
  from {
    opacity: 0;
  }

  /*default values*/
  to {
    opacity: 1;
  }
}

/*set position of wallpapers*/
.wallpapers{
    position:fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-repeat: repeat-x;
}

/*Reference - see (1)*/
/*set url for each page's wallpaper*/
div.ingredients-suppliers-wallpaper {
  background-image:url(../img/burger3.jpg);
}

div.home-wallpaper {
    background-image:url(../img/burger1.jpg);
}

div.customers-orders-wallpaper {
    background-image:url(../img/burger2.jpg);
}

div.employees-locations-wallpaper {
    background-image:url(../img/burger0.jpg);
}

/*set width/height for each table, since it can vary*/
.ingredients-suppliers {
    width: 650px;
    height: 300px;
}

.customers-orders {
    width: 1000px;
    height: 300px;
}

.employees-locations {
    width: 660px;
    height: 300px;
}

.locations-overview {
    width: 400px;
    height: 200px;
}

/*change Bootstrap's orange color to a custom color*/
.btn-warning {
    margin-right: 3px;
    background-color: #404040;
    border: none;
}

/*on hover effect for buttons*/
.btn-warning:hover{
  background-color: #FFC107;
  color: black !important;
}