table{
	text-align: center;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}

tr:nth-child(even){
	background-color: #B2FF66;
}

.col-sm-6, h1 {
	text-align: center;
}

#overview {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
