/* References:
(1) - Unsplash.com - background wallpapers
David Fedulov - https://unsplash.com/@phototastyfood
Changyoung Koh - https://unsplash.com/@kcy1019
Pablo Merchán Montes - https://unsplash.com/@pablomerchanm
Jonathan Borba - https://unsplash.com/@jonathanborba

(2) - YouTube - animation
CodeRookie - https://www.youtube.com/watch?v=UInN6O_nMKs

(3) - Bootstrap - table rows' hovering
Link - https://getbootstrap.com/docs/4.0/content/tables/

(4) - W3Schools - styling input forms, using user-select to disable selecting text
Link - https://www.w3schools.com/css/css_form.asp
Link - https://www.w3schools.com/cssref/css3_pr_user-select.asp
*/

table, .col-sm-6, .col-sm-12, .header1 {
  text-align: center;
  padding-top: 20px;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}

tr:nth-child(even){
	background-color: #F3F3F3;
}

tr:first-child {
    background-color: #FFC107;
}

table {
    background-color: #E0E0E0;
}

#overview {
	margin-left: auto;
	margin-right: auto;
}

/*center all tables to middle of the page*/
.center {
	margin-left: auto;
	margin-right: auto;
}

/*center the search box for the ingredients-suppliers table*/
.center-search {
    text-align: center;
    padding: 10px;
}

/*scrollbar for all tables*/
.search-box-scroll {
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}


/*center all containers; may need change if there's more than 1 container later on*/
.container {
  text-align: center
}

.page-description {
    text-align: center;
    text-decoration: bold;
    margin-top: 20px;
}

.ingredients-suppliers-header {
    color: #202020;
}

.orange-header {
    color: #FFC107;
}



/*bring home container to middle of page*/
.home-container {
    margin-top: 10%;
    color: #FFC107;
}

.front-page-p {
    color: #F6F6F6;
    border-radius: 6px;
    border: 2px dotted #FFC107;
    background-color: #121212;
    opacity: 0.9;
}

.main-title {
  font-size: 80px;
}

/*Reference - see (2)*/
/*allow Two Guys title in front back to slowly appear*/
.primary-animation{
  animation: appearIn 2s;
}

/*allow company description to slowly appear after "Two Guys"*/
.secondary-animation{
  animation: appearIn2 2s;
}

@keyframes appearIn{
  /*initial values - begin at no opacity and
  then transition to full opacity*/
  from {
    opacity: 0;
  }

  /*default values*/
  to {
    opacity: 1;
  }
}

@keyframes appearIn2{
  /*initial values - begin at no opacity and
  then transition to full opacity*/
  from {
    opacity: 0;
  }

  /*default values*/
  to {
    opacity: 0.9;
  }
}

/*set position of wallpapers*/
.wallpapers{
    position:fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-repeat: repeat-x;
}

/*Reference - see (1)*/
/*set url for each page's wallpaper*/
div.ingredients-suppliers-wallpaper {
  background-image:url(../img/burger3.jpg);
}

div.home-wallpaper {
    background-image:url(../img/burger1.jpg);
}

div.customers-orders-wallpaper {
    background-image:url(../img/burger2.jpg);
}

div.employees-locations-wallpaper {
    background-image:url(../img/burger0.jpg);
}

/*set width/height for each table, since it can vary*/
.ingredients {
    width: 549px;
    height: 300px;
}

.suppliers {
    width: 352px;
    height: 300px;
}

.ingredients-suppliers {
    width: 320px;
    height: 300px;
}

.orders {
    width: 1058px;
    height: 300px;
}

.customers {
    width: 805px;
    height: 300px;
}

.employees-locations {
    width: 736px;
    height: 300px;
}

.locations-overview {
    width: 421px;
    height: 200px;
}

/*change Bootstrap's orange color to a custom color*/
.btn-warning {
    margin-right: 3px;
    background-color: #404040;
    border: none;
}

/*on hover effect for buttons*/
.btn-warning:hover{
    background-color: #FFC107;
    color: black !important;
}

/*set the spacing between table rows to make it more compact*/
table {
    border-spacing: 4px !important;
}

td {
    padding: 5px !important;
}

/*add background color when using a certain input field*/
input[type=text]: focus {
  background-color: #E5FFCC;
}

/*add background color when hover over an input field*/
input[type=text]: hover {
  background-color: #E5FFCC;
}

/*hover effect for table rows, except for the header*/
tr:hover {
  background-color: #FFE797;
}

tr:first-child:hover {
    background-color: #FFC107;
}

/* add font style */
body {
  font-family: 'Quicksand', sans-serif;
}

.header1 {
  color: #FFC107;
}

body {
  background-color: black;
}

#clear-button {
  border: 1px solid #999;
  border-radius: 4px;
  color: #EFEFEF;
  font-size: 15px;
}

#clear-button:hover {
  background-color: #FFC107;
}

#clear-link {
  text-decoration: none;
  color: black;
}


.modal-header {
  background-color: #FFC107;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-title {
  font-size: 15px;
}

.modal-body {
  padding-top: 5px;
  padding-bottom: 5px;
 }

 .modal-footer {
  padding-top: 5px;
  padding-bottom: 2px;
 }

input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #FFC107;
  color: black !important;
}

input[type="text"], input[type="date"],  input[type="number"], input[type="button"], input[type="submit"] {
  font-size: 15px;
}

input[type="button"]:focus {
  outline: none;
}

th {
  position: sticky;
  background-color: #FFC107;
  top: 0px;
  border-top: 2px;
  border-collapse: collapse;
}

h1, h2, h4, p, th, label, input, span {
  -webkit-user-select: none;
}

h1, h2, h4 {
  text-shadow: 2px 2px 4px #C0C0C0;
}

select {
    border: 1px solid #CED4DA;
    border-radius: 4px;
    outline-color: #C2DBFE;
}

/*form alignment experiments*/
.form-title {
    width: 100%;
    margin-left: 9%;
    text-align: left;
    display: inline-block;
    color: #FFC107;
    text-shadow: 2px 2px 4px #C0C0C0;
}

.span-bg {
    width: 40%;
    text-align: left;
    display: inline-block;
    padding-right: 10px;
    color: #FFC107;
    text-shadow: 2px 2px 4px #C0C0C0;

}

.form-position {
    width: 40%;
    text-align: left;
    margin-right: 0px;
}

input {
    display: inline-block;
    border: 1px solid #A0A0A0;
    border-radius: 4px;
}

input.form-position {
    margin-top: 0px;
    margin-bottom: 1px;
}


select.form-position {
    margin-top: 0px;
    margin-bottom: 1px;
}

.form-submit {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    display: inline-block;
}

.form-container {
    margin-top: 20px;
}


.inner-group {
    border: 3px dotted #202020;
    border-radius: 4px;
    background-color: #0E0E0E;
}

.disabled-input {
    pointer-events: none;
    background-color: #E0E0E0;
}

/*
div {
    border: 1px solid blue;
}
*/





