{% extends "base.html" %}
{% block title %}Employees, Managers & Locations{% endblock %}

{% block content %}
<table>
	<caption>Overview of the Employees, Managers and Locations.</caption>
	<thead>
		<tr>
			{% for header in headers %}
			<th>{{ header }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for infos in data %}
			<tr>
				{% for info in infos %}
				<td>{{ info }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tr>
	</tbody>
</table>

<div>
	<div class="col-sm-6">
		<form action="", method="POST">
			{{ emp_man_form.hidden_tag() }}
			<fieldset>
				<legend>Employee, Manager</legend>
				<div>
					{{ emp_man_form.first_name.label }}
					{{ emp_man_form.first_name }}
				</div>
				<div>
					{{ emp_man_form.last_name.label }}
					{{ emp_man_form.last_name }}
				</div>
				<div>
					{{ emp_man_form.start_date.label }}
					{{ emp_man_form.start_date }}
				</div>
				<div>
					{{ emp_man_form.status.label }}
					{{ emp_man_form.status }}
				</div>
				<div>
					{{ emp_man_form.manager.label }}
					{{ emp_man_form.manager }}
				</div>
				<div>
					{{ emp_man_form.managed_by.label }}
					{{ emp_man_form.managed_by }}
				</div>
				<div>
					{{ emp_man_form.store.label }}
					{{ emp_man_form.store }}
				</div>
				<div>
					{{ emp_man_form.add }}
				</div>
			</fieldset>
		</form>
	</div>

	<div> 
		<form action="#", method="POST">
			{{ loc_form.hidden_tag() }}
			<fieldset>
				<legend>Location:</legend>
				<div>
					{{ loc_form.city.label }}
					{{ loc_form.city }}
				</div>
				<div>
					{{ loc_form.state.label }}
					{{ loc_form.state }}
				</div>
				<div>
					{{ loc_form.zip_code.label }}
					{{ loc_form.zip_code }}
				</div>
				<div>
					{{ loc_form.add }}
				</div>
			</fieldset>
		</form>
	</div>
	</div>
{% endblock content %}