{% extends "base.html" %}
{% block title %}Employees, Managers & Locations{% endblock %}
{% block content %}
<div class="employees-locations-wallpaper wallpapers"></div>
<h2 class="page-description orange-header">Add/Edit/Delete for Employees, Managers & Locations (entities)</h2>
<h4 class="header1">Employees and Managers</h4>
<div class="search-box-scroll employees-locations">
	<table>
		<thead>
			<tr>
				{% for header in headers %}
				<th>{{ header }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for infos in data %}
				<tr>
					{% for info in infos %}
					<td>{{ info }}</td>
					{% endfor %}
					<td>
						<input type="button" value="Edit">
					</td>
					<td>
						<input type="button" value="Delete">
					</td>
				</tr>
				{% endfor %}
			</tr>
		</tbody>
	</table>
</div>

<h4 class="header1">Locations</h4>
<div class="search-box-scroll locations-overview">
	<table class="center">
		<thead>
			<tr>
				{% for header in location_headers %}
				<th>{{ header }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for data in location_data %}
				<tr>
					{% for location in data %}
					<td>{{ location }}</td>
					{% endfor %}
					<td>
						<input type="button" value="Edit">
					</td>
					<td>
						<input type="button" value="Delete">
					</td>
				</tr>
				{% endfor %}
			</tr>
		</tbody>
	</table>
</div>

<div class="row">
	<div class="col-sm-6">
		<form action="", method="POST">
			{{ emp_man_form.hidden_tag() }}
			<fieldset>
				<legend>Add a new employee/manager</legend>
				<div>
					{{ emp_man_form.first_name.label }}
					{{ emp_man_form.first_name }}
				</div>
				<div>
					{{ emp_man_form.last_name.label }}
					{{ emp_man_form.last_name }}
				</div>
				<div>
					{{ emp_man_form.start_date.label }}
					{{ emp_man_form.start_date }}
				</div>
				<div>
					{{ emp_man_form.status.label }}
					{{ emp_man_form.status }}
					{{ emp_man_form.manager.label }}
					{{ emp_man_form.manager }}
				</div>
				<div>
					{{ emp_man_form.managed_by.label }}
					{{ emp_man_form.managed_by }}
				</div>
				<div>
					{{ emp_man_form.store.label }}
					{{ emp_man_form.store }}
				</div>
				<div>
					{{ emp_man_form.add }}
				</div>
			</fieldset>
		</form>
	</div>

	<div class="col-sm-6"> 
		<form action="#", method="POST">
			{{ loc_form.hidden_tag() }}
			<fieldset>
				<legend>Add a store location</legend>
				<div>
					{{ loc_form.city.label }}
					{{ loc_form.city }}
				</div>
				<div>
					{{ loc_form.state.label }}
					{{ loc_form.state }}
				</div>
				<div>
					{{ loc_form.zip_code.label }}
					{{ loc_form.zip_code }}
				</div>
				<div>
					{{ loc_form.add }}
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock content %}