{% extends "base.html" %}
{% block title %}Employees, Managers & Locations{% endblock %}
{% block content %}

<h4 class="header1">Employees and Managers</h4>
<div class="search-box-scroll employees-locations">
	<table>
		<thead>
			<tr>
				<!-- display pre-set column title for employees and managers table -->
				{% for header in employee_headers %}
				<th>{{ header }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				<!-- iterate over employee and manager data from app.py -->
				{% for employee in employees_managers_results %}
				<tr>
					<!-- display each data row for each row in display table -->
					{% for value in employee[:-1] %}
					<td>{{ value }}</td>
					{% endfor %}
					<td>
						<div class="container">
							<!-- pop-up update form to edit row in employee and manager table -->
							<input type='button' name='Edit' value='Edit' data-bs-toggle="modal" data-bs-target="#edit-modal{{employee[-1]}}">
							<div class="modal" id="edit-modal{{employee[-1]}}">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Edit Data for Employee ID: {{employee[-1]}}</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
										</div>
										<div class="modal-body">
											<!-- update info in database on update form submit -->
											<form action="/update_employee/{{employee[-1]}}" method="POST">
												<div class="row mb-0 mt-0">
													<label for="first_name_input" class="col-sm-2 col-form-label col-form-label-sm">First Name</label>
													<div class="col-sm-10">
														<input type="text" class="form-control" id="name_input" name="first_name" value="{{employee[0]}}">
													</div>
												</div>
												<div class="row mb-0">
													<label for="last_name_input" class="col-sm-2 col-form-label col-form-label-sm">Last Name</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" id="name_input" name="last_name" value="{{employee[1]}}">
														</div>
												</div>
												<div class="row mb-0">
													<label for="start_date_input" class="col-sm-2 col-form-label col-form-label-sm">Start Date</label>
													<div class="col-sm-10">
														<input type="date" class="form-control" id="start_date_input" name="start_date" value={{employee[2]}}>
													</div>
												</div>
												<div class="row mb-0">
													<label for="vacation_input" class="col-sm-2 col-form-label col-form-label-sm">Vacation</label>
													<div class="col-sm-10">
														<input type="text" class="form-control" id="vacation_input" name="vacation" value={{employee[3]}}>
													</div>
												</div>
												<div class="row mb-0 mt-2">
													<label for="managed_by_input" class="col-sm-2 col-form-label col-form-label-sm">Managed by</label>
													<div class="col-sm-10">
													<select name="managed_by" id="managed_by_input"> Managed by
														{% for manager in managers %}
															<option value="{{manager[1]}}">{{manager[1]}}</option>
														{% endfor %}
													</select>
													</div>
												</div>
												<div class="row mb-0">
													<label for="location_input" class="col-sm-2 col-form-label col-form-label-sm">Location</label>
													<div class="col-sm-10">
													<select name="location" id="location_input"> Location
														{% for city in city_name %}
															<option value="{{city[0]}}">{{city[0]}}</option>
														{% endfor %}
													</select>
													</div>
												</div>
												<div class="modal-footer mb-0">
													<input type='submit' name='Update' value='Update'>
													<input type='button' name='Cancel' value='Cancel' data-bs-dismiss="modal">
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<!-- delete row from database on delete submit -->
						<input type='button' class="form-button" name='Delete' value='Delete' onclick="window.location = '/delete_employee/{{employee[-1]}}'">
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<h4 class="header1">Locations</h4>
<div class="search-box-scroll locations-overview">
	<table class="center">
		<thead>
			<tr>
				<!-- display pre-set column title for locations table -->
				{% for header in location_headers %}
				<th>{{ header }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				<!-- iterate over location data from app.py -->
				{% for location in location_data %}
			<tr>
				<!-- display each data row for each row in display table -->
				{% for value in location[:-1] %}
				<td>{{ value }}</td>
				{% endfor %}
				<td>
					<div class="container">
						<!-- pop-up update form to edit row in locations table -->
						<input type='button' name='Edit' value='Edit' data-bs-toggle="modal" data-bs-target="#edit-modal_suppliers{{location[-1]}}">
						<div class="modal" id="edit-modal_suppliers{{location[-1]}}">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Put your new info here! For Store ID: {{location[-1]}}</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
									</div>
									<div class="modal-body">
										<!-- update info in database on update form submit -->
										<form action="/update_location/{{location[-1]}}" method="POST">

											<div>
												<label class="form-label">City</label>
												<input type="text" class="form-control" name="location_city" value="{{location[0]}}">
											</div>
											<div>
												<label class="form-label">State</label>
												<input type="text" class="form-control" name="location_state" value={{location[1]}}>
											</div>
											<div>
												<label class="form-label">Zip Code</label>
												<input type="text" class="form-control" name="location_zip_code" value={{location[2]}}>
											</div>
											<div class="modal-footer">
												<input type='submit' name='Update' value='Update'>
												<input type='button' name='Cancel' value='Cancel' data-bs-dismiss="modal">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<!-- delete row from database on delete submit -->
					<input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_location/{{location[-1]}}'">
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!-- display form to submit new employee/manager -->
<div class="container form-container">
	<div class="row justify-content-around">
		<div class="col-lg-4 inner-group">
			<form action="", method="POST">
				{{ emp_man_form.hidden_tag() }}
				<fieldset>
					<legend><span class="form-title">New Employee/Manager</span></legend>
					<div>
						{{ emp_man_form.first_name.label(class="span-bg") }}
						{{ emp_man_form.first_name(class="form-position") }}
					</div>
					<div>
						{{ emp_man_form.last_name.label(class="span-bg") }}
						{{ emp_man_form.last_name(class="form-position") }}
					</div>
					<div>
						{{ emp_man_form.start_date.label(class="span-bg") }}
						{{ emp_man_form.start_date(class="form-position") }}
					</div>
					<div>
						{{ emp_man_form.status.label(class="span-bg") }}
						{{ emp_man_form.status(class="form-position") }}
					</div>
					<div>
						{{ emp_man_form.manager.label(class="span-bg") }}
						{{ emp_man_form.manager(class="form-position") }}
					</div>
					<div>
						{{ emp_man_form.managed_by.label(class="span-bg") }}
						{{ emp_man_form.managed_by(class="form-position") }}
					</div>
					<div>
						{{ emp_man_form.store.label(class="span-bg") }}
						{{ emp_man_form.store(class="form-position") }}
					</div>
					<div>
						{{ emp_man_form.add(class="form-submit") }}
					</div>
				</fieldset>
			</form>
		</div>

		<!-- display form to submit new store location -->
		<div class="col-lg-4 inner-group">
			<form action="#", method="POST">
				{{ loc_form.hidden_tag() }}
				<fieldset>
					<legend><span class="form-title">New Store Location</span></legend>
					<div>
						{{ loc_form.city.label(class="span-bg") }}
						{{ loc_form.city(class="form-position") }}
					</div>
					<div>
						{{ loc_form.state.label(class="span-bg") }}
						{{ loc_form.state(class="form-position") }}
					</div>
					<div>
						{{ loc_form.zip_code.label(class="span-bg") }}
						{{ loc_form.zip_code(class="form-position") }}
					</div>
					<div>
						{{ loc_form.add(class="form-submit") }}
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock content %}