{% extends "base.html" %}
{% block title %}Ingredients & Suppliers{% endblock %}
{% block content %}

<!-- <div class="ingredients-suppliers-wallpaper wallpapers"></div> -->
<h2 class="page-description orange-header">Add/Edit/Delete for Ingredients & Suppliers (entities)</h2>
<h4 class="header1">Ingredients</h4>

<div class="search-box-scroll ingredients">
	<table class="center table-hover">
		<thead>
			<tr>
				<!-- this for loop will grab the column title data from app.py and translate it to the template -->
				{% for title in ingredient_suppliers_h %}
				<th>{{ title }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
			<!-- this for loop will output the raw value set of ingredients data from app.py -->
			{% for set in ingredient_suppliers_v %}
				<tr>
				<!-- lastly, each type of data in the set is added to each row -->
					{% for value in set[:-1] %}
					<td>{{ value }}</td>
					{% endfor %}
					<td>
						<div class="container">
							<input type='button' name='Edit' value='Edit' data-bs-toggle="modal" data-bs-target="#edit-modal{{set[-1]}}">
							<div class="modal" id="edit-modal{{set[-1]}}">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Edit Data for Ingredient ID: {{set[-1]}}</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
										</div>
										<div class="modal-body">
											<form action="/update_ingredient/{{set[-1]}}" method="POST">
												<div class="row mb-0 mt-0">
													<label for="date_input" class="col-sm-2 col-form-label col-form-label-sm">Order Date</label>
													<div class="col-sm-10">
														<input type="date" class="form-control" id="date_input" name="order_date" value={{set[0]}}>
													</div>
												</div>
												<div class="row mb-0">
													<label for="ingred_input" class="col-sm-2 col-form-label col-form-label-sm">Ingredient Name</label>
													<div class="col-sm-10">
														<input type="text" class="form-control" id="ingred_input" name="ingredient_name" value={{set[1]}}>
													</div>
												</div>
												<div class="row mb-0">
													<label for="cost_input" class="col-sm-2 col-form-label col-form-label-sm">Ingredient Cost</label>
													<div class="col-sm-10">
														<input type="number" class="form-control" id="cost_input" name="ingredient_cost" value={{set[2]}}>
													</div>
												</div>
												<div class="row mb-0">
													<label for="order_input" class="col-sm-2 col-form-label col-form-label-sm">Order Num.</label>
													<div class="col-sm-10">
														<select name="order_num" id="order_input"> Order Num.
															{% for order in order_nums %}
																<option value="{{order[0]}}">{{order[0]}}</option>
															{% endfor %}
														</select>
													</div>
												</div>
												<div class="modal-footer mb-0">
													<input type='submit' name='Update' value='Update'>
													<input type='button' name='Cancel' value='Cancel' data-bs-dismiss="modal">
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<input type='button' class="form-button" name='Delete' value='Delete' onclick="window.location = '/delete_ingredient/{{set[-1]}}'">
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<h4 class="header1">Suppliers</h4>
<div class="search-box-scroll suppliers">
	<table class="center">
		<thead>
			<tr>
				{% for title in suppliers_headers %}
				<th>{{ title }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
			{% for supplier in suppliers_values %}
			<tr>
				<td>{{ supplier[0] }}</td>
				<td>
					<div class="container">
						<input type='button' name='Edit' value='Edit' data-bs-toggle="modal" data-bs-target="#edit-modal_suppliers{{supplier[1]}}">
						<div class="modal" id="edit-modal_suppliers{{supplier[1]}}">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Put your new info here! For Supplier ID: {{supplier[1]}}</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
									</div>
									<div class="modal-body">
										<form action="/update_supplier/{{supplier[1]}}" method="POST">

											<div>
												<label class="form-label">Supplier Name</label>
												<input type="text" class="form-control" name="supplier_name" value={{supplier[0]}}>
											</div>
											<div class="modal-footer">
												<input type='submit' name='Update' value='Update'>
												<input type='button' name='Cancel' value='Cancel' data-bs-dismiss="modal">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_supplier/{{supplier[1]}}'">
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="container">
			<form action="#" method="POST" id="addform">
				{{ ingredient_form.hidden_tag() }}
				<fieldset>
					<legend><span class="span-bg">Add ingredients</span></legend>
					<div class="form-group">
						{{ ingredient_form.order_date.label(class="span-bg") }}
						{{ ingredient_form.order_date(class="form-position") }}
					</div>
					<div>
						{{ ingredient_form.ingredient_name.label(class="span-bg") }}
						{{ ingredient_form.ingredient_name(class="form-position") }}
					</div>
					<div>
						{{ ingredient_form.ingredient_cost.label(class="span-bg") }}
						{{ ingredient_form.ingredient_cost(class="form-position") }}
					</div>
					<div>
						{{ ingredient_form.supplier.label(class="span-bg") }}
						{{ ingredient_form.supplier(class="form-position") }}
					</div>
					<div>
						{{ ingredient_form.order_id.label(class="span-bg") }}
						{{ ingredient_form.order_id(class="form-position") }}
					</div>
					<div>
						{{ ingredient_form.submit(class="form-submit") }}
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="col-sm-6">
		<form action="#" method="POST">
			{{ supplier_form.hidden_tag() }}
			<fieldset>
				<legend><span class="span-bg">Add a supplier</span></legend>
				<div >
					{{ supplier_form.supplier_name.label(class="span-bg") }}
					{{ supplier_form.supplier_name(class="form-position") }}
				</div>
				<div>
					{{ supplier_form.ingredients_supplied.label(class="span-bg") }}
					{{ supplier_form.ingredients_supplied(class="form-position") }}
				</div>
				<div>
					{{ supplier_form.submit(class="form-submit") }}
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}

