{% extends "base.html" %}
{% block title %}Ingredients & Suppliers{% endblock %}
{% block content %}

<h1 class="header1">Ingredients & Suppliers</h1>

<div class="center-search">
	<form action="#">
		<input type="text" placeholder="Enter customer.." size="50">
	</form>
</div>

<table class="center">
	<caption>Overview of the Ingredients-Suppliers.</caption>
	<thead>
		<tr>
			<!-- this for loop will grab the column title data from app.py and translate it to the template -->
			{% for title in ingredient_suppliers_h %}
			<th>{{ title }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
		<!-- this for loop will output the raw value set of ingredients data from app.py -->
		{% for set in ingredient_suppliers_v %}
		<tr>
			<!-- lastly, each type of data in the set is added to each row -->
			{% for value in set %}
			<td>{{ value }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-sm-2">
			<table>
				<caption>Individual view of Ingredients.</caption>
				<thead>
					<tr>
						<!-- this for loop will grab the column title data from app.py and translate it to the template -->
						{% for title in column_headers %}
						<th>{{ title }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					<tr>
					<!-- this for loop will output the raw value set of ingredients data from app.py -->
					{% for set in sample_values %}
					<tr>
						<!-- lastly, each type of data in the set is added to each row -->
						{% for value in set %}
						<td>{{ value }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-2">
			<table>
				<caption>Individual view of Suppliers.</caption>
				<thead>
					<tr>
						<!-- this for loop will grab the column title data from app.py and translate it to the template -->
						{% for title in supplier_headers %}
						<th>{{ title }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					<!-- this for loop will output the raw value set of ingredients data from app.py -->
					<tr>
						{% for set in supplier_values %}
						<tr>
							{% for value in set %}
							<td>{{ value }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
br

<div class="row">
	<div class="col-sm-6">
		<form action="#" method="POST">
			{{ ingredient_form.hidden_tag() }}
			<fieldset>
				<legend>Ingredients:</legend>
				<div>
					{{ ingredient_form.order_date.label }}
					{{ ingredient_form.order_date }}
				</div>
				<div>
					{{ ingredient_form.ingredient_name.label }}
					{{ ingredient_form.ingredient_name }}
				</div>
				<div>
					{{ ingredient_form.ingredient_cost.label }}
					{{ ingredient_form.ingredient_cost }}
				</div>
				<div>
					{{ ingredient_form.order_id.label }}
					{{ ingredient_form.order_id }}
				</div>
				<div>
					{{ ingredient_form.submit }}
					<input type="button" name="ingredient_action" value="Edit">
					<input type="button" name="ingredient_action" value="Delete">
				</div>
			</fieldset>
		</form>
	</div>
		<br>
	<div class="col-sm-6">
		<form action="#" method="POST">
			{{ supplier_form.hidden_tag() }}
			<fieldset>
				<legend>Suppliers:</legend>
				<div>
					{{ supplier_form.supplier_name.label }}
					{{ supplier_form.supplier_name }}
				</div>
				<div>
					{{ supplier_form.submit }}
					<input type="button" name="supplier_action" value="Edit">
					<input type="button" name="supplier_action" value="Delete">
				</div>
			</fieldset>
		</form>
	</div>
</div>


{% endblock %}