{% extends "base.html" %}
{% block title %}Orders & Customers{% endblock %}
{% block content %}

<!-- <div class="customers-orders-wallpaper wallpapers"></div> -->

<h2 class="page-description orange-header">Add/Edit/Delete for Customers & Orders (entities)</h2>
<h4 class="header1">Orders</h4>
<div class="center-search">
<!--	search box-->
	<form action="#", method="POST">
		{{ search_form.hidden_tag() }}
		<fieldset>
			<div>
				{{ search_form.submit_id.label(class="span-bg") }}
				{{ search_form.submit_id }}
				{{ search_form.submit }}
				{{ search_form.clear_search }}
			</div>
		</fieldset>
	</form>


</div>
<div class="search-box-scroll orders">
	<table class="center">
		<thead>
			<tr>
				{% for title in orders_customers_h %}
				<th>{{ title }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for set in orders_customers_v %}
				<tr>
					{% for value in set %}
					<td>{{ value }}</td>
					{% endfor %}
					<td>
						<input type="button" value="Edit">
					</td>
					<td>
						<input type="button" value="Delete">
					</td>
				</tr>
				{% endfor %}
			</tr>
		</tbody>
	</table>
</div>

<h4 class="header1">Customers</h4>
<div class="search-box-scroll customers">
	<table class="center">
		<thead>
			<tr>
				{% for title in customer_headers %}
				<th>{{ title }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
			{% for set in customer_values %}
			<tr>
				{% for value in set %}
				<td>{{ value }}</td>
				{% endfor %}
				<td>
					<input type="button" value="Edit">
				</td>
				<td>
					<input type="button" value="Delete">
				</td>
			</tr>
			{% endfor %}
		</tr>
		</tbody>
	</table>
</div>

<div class="row">
	<div class="col-sm-6">
		<form action="#" method="POST">
			{{ order_form.hidden_tag() }}
			<fieldset>
				<legend><span class="span-bg">Add a new order</span></legend>
				<div>
					{{ order_form.date_time.label(class="span-bg") }}
					{{ order_form.date_time }}
				</div>
				<div>
					{{ order_form.sale_amount.label(class="span-bg") }}
					{{ order_form.sale_amount }}
				</div>
				<div>
					{{ order_form.customer_id.label(class="span-bg") }}
					{{ order_form.customer_id }}
				</div>
				<div>
					{{ order_form.submit }}
				</div>
			</fieldset>
		</form>
	</div>

	<div class="col-sm-6">
		<form action="#" method="POST">
			{{ customer_form.hidden_tag() }}
			<fieldset>
				<legend><span class="span-bg">Add a new customer</span></legend>
				<div>
					{{ customer_form.first_name.label(class="span-bg") }}
					{{ customer_form.first_name }}
				</div>
				<div>
					{{ customer_form.last_name.label(class="span-bg") }}
					{{ customer_form.last_name }}
				</div>
				<div>
					{{ customer_form.email.label(class="span-bg") }}
					{{ customer_form.email }}
				</div>
				<div>
					{{ customer_form.phone_number.label(class="span-bg") }}
					{{ customer_form.phone_number }}
				</div>
				<div>
					{{ customer_form.location.label(class="span-bg") }}
					{{ customer_form.location }}
				</div>
				<div>
					{{ customer_form.submit }}
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}