{% extends "base.html" %}
{% block title %}Orders & Customers{% endblock %}
{% block content %}

<!-- <div class="customers-orders-wallpaper wallpapers"></div> -->
<!--<h2 class="page-description orange-header">Add/Edit/Delete for Customers & Orders (entities)</h2>-->
<h4 class="header1">Orders</h4>
<div class="center-search">
<!--	search box-->
	<form action="#" method="POST">
		{{ search_form.hidden_tag() }}
		<fieldset>
			<div>
				{{ search_form.submit_id.label(class="") }}
				{{ search_form.submit_id }}
				{{ search_form.submit }}
				<button id="clear-button">
					<a id="clear-link" href="{{ url_for('orders_customers') }}">Clear</a>
				</button>
			</div>
		</fieldset>
	</form>
</div>

<div class="search-box-scroll orders">
	<table class="center">
		<thead>
			<tr>
				{% for title in orders_customers_h %}
				<th>{{ title }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for set in orders_customers_v %}
				<tr>
					{% for value in set[:-1] %}
					<td>{{ value }}</td>
					{% endfor %}
					<td>
						<div class="container">
							<input type='button' name='Edit' value='Edit' data-bs-toggle="modal" data-bs-target="#edit-modal{{set[-1]}}">
							<div class="modal" id="edit-modal{{set[-1]}}">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Edit Data for Order ID: {{set[-1]}}</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
										</div>
										<div class="modal-body">
											<form action="/update_order/{{set[-1]}}" method="POST">
												<div class="row mb-3">
													<label for="date_input" class="col-sm-2 col-form-label col-form-label-sm">Date</label>
													<div class="col-sm-10">
														<input type="date" class="form-control" id="date_input" name="date" value={{set[0]}}>
													</div>
												</div>
												<div class="row mb-0">
													<label for="cid_input" class="col-sm-2 col-form-label col-form-label-sm">Customer ID</label>
													<div class="col-sm-10">
														<input type="number" class="form-control disabled-input" id="cid_input" name="customer_id" value={{set[1]}}>
													</div>
												</div>
												<div class="row mb-0">
													<label for="sales_amount_input" class="col-sm-2 col-form-label col-form-label-sm">Sales Amount ($)</label>
													<div class="col-sm-10">
														<input type="number" class="form-control" id="sales_amount_input" name="sales_amount" value={{set[2]}}>
													</div>
												</div>
												<div class="modal-footer mb-0">
													<input type='submit' name='Update' value='Update'>
													<input type='button' name='Cancel' value='Cancel' data-bs-dismiss="modal">
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<input type='button' class="form-button" name='Delete' value='Delete' onclick="window.location = '/delete_order/{{set[-1]}}'">
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<h4 class="header1">Customers</h4>
<div class="search-box-scroll customers">
	<table class="center">
		<thead>
			<tr>
				{% for title in customer_headers %}
				<th>{{ title }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
			{% for set in customer_values %}
			<tr>
				{% for value in set[:-1] %}
				<td>{{ value }}</td>
				{% endfor %}
				<td>
					<div class="container">
						<input type='button' name='Edit' value='Edit' data-bs-toggle="modal" data-bs-target="#edit-modal_customer{{set[-1]}}">
						<div class="modal" id="edit-modal_customer{{set[-1]}}">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edit Data for Customer ID: {{set[-1]}}</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
									</div>
									<div class="modal-body">
										<form action="/update_customer/{{set[-1]}}" method="POST">
											<div class="row mb-0 mt-0">
												<label for="first_name_input" class="col-sm-2 col-form-label col-form-label-sm">First Name</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="first_name_input" name="first_name" value={{set[0]}}>
												</div>
											</div>
											<div class="row mb-0">
												<label for="last_name_input" class="col-sm-2 col-form-label col-form-label-sm">Last Name</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="last_name_input" name="last_name" value={{set[1]}}>
												</div>
											</div>
											<div class="row mb-0">
												<label for="email_input" class="col-sm-2 col-form-label col-form-label-sm">E-mail</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="email_input" name="email" value={{set[2]}}>
												</div>
											</div>
											<div class="row mb-0">
												<label for="phone_number_input" class="col-sm-2 col-form-label col-form-label-sm">Phone Number</label>
												<div class="col-sm-10">
													<input type="number" class="form-control" id="phone_number_input" name="phone_number" value={{set[3]}}>
												</div>
											</div>
											<div class="row mb-0">
												<label for="location_input" class="col-sm-2 col-form-label col-form-label-sm">Store Location</label>
												<div class="col-sm-10">
													<select name="location" id="location_input"> Store Location
														{% for city in city_name %}
															<option value="{{city}}">{{city}}</option>
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="modal-footer mb-0">
												<input type='submit' name='Update' value='Update'>
												<input type='button' name='Cancel' value='Cancel' data-bs-dismiss="modal">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<input type='button' class="form-button" name='Delete' value='Delete' onclick="window.location = '/delete_customer/{{set[-1]}}'">
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>

<div class="container form-container">
	<div class="row justify-content-around">
		<div class="col-lg-4 inner-group">
			<form action="#" method="POST">
				{{ order_form.hidden_tag() }}
				<fieldset>
					<legend><span class="form-title">New Order</span></legend>
					<div>
						{{ order_form.date_time.label(class="span-bg") }}
						{{ order_form.date_time(class="form-position") }}
					</div>
					<div>
						{{ order_form.sale_amount.label(class="span-bg") }}
						{{ order_form.sale_amount(class="form-position") }}
					</div>
					<div>
						{{ order_form.customer_id.label(class="span-bg") }}
						{{ order_form.customer_id(class="form-position") }}
					</div>
					<div>
						{{ order_form.submit(class="form-submit") }}
					</div>
				</fieldset>
			</form>
		</div>

		<div class="col-lg-4 inner-group">
			<form action="#" method="POST">
				{{ customer_form.hidden_tag() }}
				<fieldset>
					<legend><span class="form-title">New Customer</span></legend>
					<div>
						{{ customer_form.first_name.label(class="span-bg") }}
						{{ customer_form.first_name(class="form-position") }}
					</div>
					<div>
						{{ customer_form.last_name.label(class="span-bg") }}
						{{ customer_form.last_name(class="form-position") }}
					</div>
					<div>
						{{ customer_form.email.label(class="span-bg") }}
						{{ customer_form.email(class="form-position") }}
					</div>
					<div>
						{{ customer_form.phone_number.label(class="span-bg") }}
						{{ customer_form.phone_number(class="form-position") }}
					</div>
					<div>
						{{ customer_form.location.label(class="span-bg") }}
						{{ customer_form.location(class="form-position") }}
					</div>
					<div>
						{{ customer_form.submit(class="form-submit") }}
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock %}